.movie-list-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.movie-title {
  font-size: 1.875rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.movie-title-black {
  color: black;
}

.movie-title-white {
  color: white;
}

.movie-list-scroll {
  display: flex;
  overflow-x: auto;
  cursor: pointer;
}

.movie-items {
  display: flex;
  align-items: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
